<div class="card">
    
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/nitinrajpic.jpg.jpg"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Nitin Raj</h3>
          <p>We as a team build this product management app in order to help our users to select good products in their locality.</p>
          <p>Hope u guys would be going to enjoy our service</p>
          <p>Feel free to give feedback at <i>nitinraj2001@gmail.com</i></p>
        </div>
  
        <div class="text-center">@nitinraj2001</div>
        <div class="text-center">
          <a href="https://nitinraj-portfolio.heroku.com">Here is my portfolio</a>
        </div>
      </div>
    </div>
  </div>
